@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  color: #dee3ea;
  /* overflow: auto; */
  /* width: 100vw; */
  /* overflow-x: hidden; */
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Outfit', sans-serif;

  margin: 0;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}


/*
COMPONENT- NAVBAR 
PATH - /SRC/UTILS
USED FOR - NAVIGATION BUTTONS
 */
.navButton{
  @apply cursor-pointer rounded-full bg-gray-800 px-4 py-2 shadow-xl  lg:px-6 lg:py-3
}

/*
COMPONENT- NAVBAR 
PATH - /SRC/UTILS
USED FOR - for LARGE_SCREEN CENTER NAVIGATION BUTTON ITEMS 

 */
.navItem{
  @apply cursor-pointer select-none rounded-full  font-semibold text-gray-50 transition duration-300 hover:text-blue-300
}

/* 
COMPONENT- HERO
PATH - /SRC/ONBOARD/HERO
USED FOR - BUTTONS IN HERO PAGE (CIRRICULUM AND SO )
*/
.heroButton{
 @apply  cursor-pointer w-max items-center rounded-full py-2 px-5 sm:px-6 lg:py-3 lg:px-7 font-medium transition-all duration-75  disabled:cursor-not-allowed bg-primary  ring-1  hover:bg-[#4029D1] flex flex-row gap-1
}

/* 
COMPONENT - NAVBAR
PATH - /SRC/utils/NAVBAR
used for - navbuttons for small screens (menu button and so)
*/
.navSmallScreenButton{
  @apply cursor-pointer flex shrink-0  items-center justify-center  rounded-full  transition-all duration-300 select-none   text-gray-50  hover:bg-gray-700  p-2  gap-4 relative h-10 w-10 bg-gray-800  active:outline-none lg:hidden
}


/* utilities  */

/*
USE : to center elment  
 */

.center-elment{
  @apply ml-auto mr-auto
}

/* 
USE : for headers in onboard page
*/
.header{
  @apply text-xl md:text-2xl lg:text-3xl font-bold 
}
/* 
use : for paragraphs in onboard page under headers (STAR POINTS)
*/
.headerPara{
  @apply text-sm lg:text-base font-medium
}

/* 
use : for images in ONBOARD PAGE
*/
.onBoardImage{
  @apply inline-block aspect-square grow  border-none object-cover 
}

.widthRatios{
  @apply w-[90%] center-elment  lg:w-[85%] xl:w-[70%]
}

/* 
use : for each section in onboard page
*/
.onBoardSection{
    @apply w-[90%] center-elment  lg:w-[85%] xl:w-[70%] ml-auto mr-auto flex flex-col-reverse gap-4 lg:flex-row  items-center
}


.eventHeader{
  @apply text-4xl  xl:text-5xl leading-[1.125] font-bold
}
.eventPara{
  @apply mt-4 max-w-[60ch] text-[18px] xl:text-[20px]
}

.eventPageSection{
  @apply flex flex-col justify-center items-center  py-10 px-4 text-center w-[90%] center-elment  lg:w-[85%] xl:w-[70%] 
}

.pastEventPageInactiveButton{
  @apply outline-none px-4 py-2 min-w-max transition-all border-2 border-current rounded-full hover:scale-95 hover:text-indigo-300 focus:text-indigo-600

}
.pastEventPageActiveButton{
  @apply outline-none px-4 py-2 min-w-max transition-all rounded-full bg-primary text-current
}


/* custom classs styles  */

.weekCard{
    
  background: #F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px;

  padding: 5px 25px;
  border-radius: 3px;
  margin-bottom: 50px;
  cursor: pointer;
  width:fit-content
  
}
.weekCard:hover{
  transition: all 200ms ease-in;
  background-color:#5942e9 ;
}
.weekCard:hover>p{
  color: white;
}
.weekCard>p{
  color: rgba(0, 82, 195, 1);
}

.weekCard:nth-child(even){
 margin-left: 150px;
}

/* @media screen and (max-width:600px) {
  .weekCard:nth-child(odd){
    margin-left: 200px;
   }
  
} */

/* days card ui style */
.daysCard{
  display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    justify-items: center;
    gap: 20px;
    padding: 30px;
    background: rgb(212, 221, 232);
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px;
    border-radius: 10px;
    
    overflow-y: scroll;
}
.dayCard{
  display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    background: rgba(167, 196, 235, 0.71);
    border: 1px solid rgba(0, 0, 0, 0.31);
    border-radius: 5px;
    padding: 10px 16px;
}

.daysCard::-webkit-scrollbar {
  width: 3px;
  
  
}
 .daysCard::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 2px;
  background-color: #8576ec;
  

}

.no-scrollbar::-webkit-scrollbar {
  width: 3px;
  display: none;
  
  
}
.blogCard{
  background-color: rgb(21, 119, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px;
  border-radius: 31px;
  width: 350px;
  padding: 20px;
}



/* animationssss */

@keyframes cirriculumAnimation {
	0% {
		transform: scale(0);
    opacity: 0;
	}
	100% {
		transform: scale(1);
    opacity: 1;
	}
}
@keyframes journeyIndexAnimation {
  0% {
    transform: scale(0) ;
		
    opacity: 0;
	}
	100% {
		
    opacity: 1;
    transform: scale(1);
	}

  
}
@media (prefers-reduced-motion: no-preference) {
  .cirriculumAnimationClass {
    animation: cirriculumAnimation  1s 1;
    
  }
  .journeyIndexAnimationClass{
    animation:  journeyIndexAnimation 1s 1;
    
  }
}